*{
    background-color: #a6e1fa;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 0%;
    box-sizing: border-box;
}
        /*Header Section*/
header{
    height: 60px;
    background-color:#0a2472;
    width: 100%;
}
header h1{
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:#0a2472;
}

        /*Navigation Section*/
nav{
    height: 46px;
    background-color: #0e6ba8;
    width: 100%;
}
nav ul{
    list-style-type: none;
    background-color: #0e6ba8;
    display: grid;
    grid-template-columns: 200px 200px 200px; /* 3 fixed columns */
    height: 100%;
    align-content: center;
    place-items: center;
} 
nav ul li{
    background-color: #0e6ba8;
    height: 100%;
}
.n-a{
    background-color: #0e6ba8;
    text-decoration: none;
}
.n-a:hover{
    color: #00072d;
}
        /* Main div */
.main{
    display: flex;
    width: 100%;
}
            /*Aside*/
.aside{
    position: fixed;
    border: 4px solid #2c81ff;
    height: 530px;
    width: 100px;
    font-weight: bold;
    border-top: none;
    border-bottom: none;
    margin-top: 5px;
    margin-bottom: 5px;
    display: grid;
    margin-left: 460px;
    border-radius: 10px;
}
.aside div{
    text-align: center;
    font-size: 16px;
    margin-top: 5px;
    color: #001c55;
}
            /*Identity Card*/
.id_card{
    
}
.id_card img{
    margin-left: 500px;
    border: 3px solid #0e6ba8;
    height: 330px;
    border-radius: 3px;
    margin-top: 8px;
    width: 280px;
}
.id_card div{
    display: block;
    color: black;
    padding: 5px;
    margin-left: 495px;
    font-weight: bold;
}




        /*Footer Section*/
.f-d1{
    background-color: #00072d;
    text-align: center;
    height: 43px;
    justify-content: center;
    display: grid;
    align-items: center;
    font-family:monospace;
    font-size: 18px;
}



        /*Chemistry Section*/
.c-pages img{
    width: 750px;
    height: 890px;
    margin: 20px 5px 0px 280px;
}

/* background : a6e1fa
  blue: 0e6ba8;
  dark blue: 0a2472;
  more dark: 001c55;
  darkest: 00072d;
*/